@import '../../../../assets/stylesheets/lib';

.Documents__Container {
  background-color: $color-white;
  @include padding(20);
  @include vertical-rythmn(10);
  width: 90vw;
  max-width: $desktop;
}

.Documents__Button--CreateNew {
  font-size: $font-size-h1;
  position: sticky;
  top: $space * 5;
  float: right;
  color: $color-primary;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: lighten($color-primary, 10%);
    transition: color ease-in 0.25s;
  }
}

.Document__Container {
  border-left: $space solid transparent;
  @include padding(5);

  &:hover {
    transition: border-left ease-in 0.5s;
    border-left: $space solid $color-primary;
  }
}
