<%= form_with(model: document, local: true, user_path: :user_path) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :title %>
    <%= form.text_field :title, id: :document_title %>

    <%= form.label :body %>
    <%= form.text_field :body, id: :document_body %>

    <%= form.label :private %>
    <%= form.check_box :private, id: :document_private %>

    <%= form.hidden_field :user_id, :value => current_user.id %>
    <%= form.submit %>
<% end %>
