<main class="documents">
  <%# <% if can? :read, @documents %>

  <% if @documents.length > 0  %>
    <% @documents.each do |document| %>

      <%= link_to document do %>
        <div class="document">
          <h2 class="document-title"><%= document.title %></h2>
          <p class="document-body"><%= truncate(document.body, :length => 100, :separator => ' ', :omission => '...') %></p>
        </div>
      <% end %>

    <% end %>
  <% end %>
  <%# <% end %> 

  <%# <% if can? :create, @document %> 
    <button class="create-document"><%= link_to '+', new_document_path %></button>
  <%# <% end %> 
</main>

