<main id="document">
  <div class="document-body">
    <h1><%= @document.title %></h1>

    <p><%= @document.body %></p>

  </div>
</main>
  <div class="navigation-links">
    <%= link_to 'Back', documents_path %>
    <%= link_to 'Edit', edit_document_path(@document) %> 
  </div>

<script src="../../assets/javascripts/editor">

