// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './global.scss';

#document {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.document-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background-color: #fff;
  max-width: 1000px;
}

.navigation-links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  a {
    background: cornflowerblue;
    color: #fff;
    padding: 15px 30px 10px 30px;
    font-size: 20px;
    border: 0;
    outline-color: cornflowerblue;
    border-bottom: 5px solid cornflowerblue;
    margin: 15px;
    cursor: pointer;
    max-width: max-content;
    text-decoration: none;
    font-family: sans-serif;
  }

  a:hover {
    transition: all ease-in 0.5s;
    background: rgba(245, 245, 245, 1);
    color: rgba(0, 0, 0, 0.7);
  }
}

.documents,
#document {
  list-style-type: none;
  padding: 0;
  margin: 30px 0;
  width: 50%;
  background-color: #fff;
  min-height: 80vh;
  padding: 60px;

  .document {
    padding: 15px;
    margin: 15px 0;
    border-bottom: 5px solid transparent;

    &:hover {
      @include underline-on-hover;
      cursor: pointer;
    }
  }

  .document-title {
    padding: 15px;
  }

  .document-body {
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 200;
  }

  & a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 900;
  }

  .create-document {
    background-color: transparent;
    border: 0;

    & > a {
      padding: 15px;
      font-size: 48px;
      text-decoration: none;
      color: cornflowerblue;
      font-family: sans-serif;
      font-weight: 400;
    }
  }
}

#document {
  height: max-content;
  min-height: max-content;
}

#root {
  background-color: #fff;
  padding: 60px;
  margin: 60px auto;
  max-width: 750px;

  h1 {
    font-family: sans-serif;
    font-size: 56px;
  }

  h2 {
    font-family: sans-serif;
    font-size: 48px;
  }

  h3 {
    font-family: sans-serif;
    font-size: 36px;
  }

  h4 {
    font-family: sans-serif;
    font-size: 32px;
  }

  h5 {
    font-family: sans-serif;
    font-size: 28px;
  }

  h6 {
    font-family: sans-serif;
    font-size: 24px;
  }

  blockquote {
    font-style: italic;
    border-left: 5px solid cornflowerblue;
    margin: 30px 0;
    padding: 0 0 0 30px;
    font-size: 28px;
    color: rgba(125, 125, 125, 1);
  }

  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
}
