@mixin underline-on-hover {
  &:hover {
    transition: all ease-in 0.5s;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 5px solid cornflowerblue;
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 300px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  max-width: 300px;
  background-color: #eee;
  border: 0;
  border-bottom: 5px solid cornflowerblue;
  padding: 15px 30px;
  font-size: 20px;
  outline-color: cornflowerblue;
  color: rgba(0, 0, 0, 0.8);
}

textarea {
  min-height: 200px;
}

label {
  width: 100%;
  font-size: 20px;
  font-family: georgia;
  text-align: left;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin: 30px 0 15px 0;
}

input[type='submit'] {
  background: cornflowerblue;
  color: #fff;
  padding: 15px 30px 10px 30px;
  font-size: 20px;
  border: 0;
  outline-color: cornflowerblue;
  border-bottom: 5px solid cornflowerblue;
  margin: 30px 0;
  cursor: pointer;
  max-width: max-content;

  &:hover {
  transition: all ease-in 0.5s;
  background: rgba(245, 245, 245, 1);
  color: rgba(0, 0, 0, 0.7);
  }
}

input[type="checkbox"] {
  margin-right: 15px;
}

.field {
  display: flex;
  align-items: baseline;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  list-style-type: none;
  width: 100%;
  max-width: 415px;
  padding-top: 30px;

  a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid transparent;
    margin: 15px;
  }

  a:hover {
    border-bottom: 2px solid cornflowerblue;
    transition: border-bottom ease-in-out 0.5s;
  }

  .logo {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.8);
  }

  &.logged-in {
    max-width: 450px;
  }
}

h1 {
  font-size: 56px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

p {
  font-size: 20px;
  font-family: georgia;
  line-height: 30px;
  max-width: 750px;
  color: rgba(0, 0, 0, 0.7);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #eee;
  min-height: 80vh;
  max-width: 100vw;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background-color: #fff;
  width: 750px;
}