@import './lib';

.Home__BannerContainer,
.About__Container {
  width: 90vw;
  max-width: $desktop;
  background-color: $color-white;

  @include vertical-rythmn(10);
  @include padding(20);
}

.Home__ButtonContainer {
  @include mobile {
    @include flexbox(column, flex-start, flex-start);
  }
}

.Home__Button {
  margin-right: $space * 5;
  margin-top: $space * 7.5;

  @include mobile {
    margin-top: $space * 5;
  }
}
