// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#home {
  background-color: #fff;
  padding: 60px 120px;
  margin: 60px 0 80px 0;
  display: flex;
}

.Home__Message {
  h1 {
    padding-left: 60px;
    font-size: 100px;
    border-left: 10px solid cornflowerblue;
  }
}

.Home__ButtonContainer {
  min-width: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 120px;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background-color: #fff;
  max-width: 1000px;
}
