@import './lib';

.Signup__Container,
.Login__Container {
  width: 90vw;
  max-width: $desktop;
  background-color: $color-white;

  @include vertical-rythmn(10);
  @include padding(20);
}

input[type='submit'] {
  margin-top: $space * 5;
}

.Signup__Button {
  margin-right: $space * 5;
  margin-top: $space * 7.5;
}

.Login__SignupContainer {
  border: $space solid $color-primary;
  margin-top: $space * 10;

  @include padding(10);
}
