// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signup,
#signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  margin-top: 60px;
}


